/* css nga pjesa e erises*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6ffe6;

}

.stats-board {
    display: flex;
    gap: 50px;
    background: white;
    padding: auto;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    background-color: #90ee90;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.stat-item {
    text-align: center;
}

.stat-item i {
    font-size: 40px;
    color: #006633;
}

.stat-number {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.stat-label {
    font-size: 16px;
    color: #777;
}

header {
    background-color: #006633;
    color: white;
    padding: 20px 10px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0 0 0;
    font-size: 1.2em;
    font-style: italic;
}

.horizontal-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    max-width: 90%;
    margin: 40px auto;
    flex-wrap: wrap;
    padding: 20px;
}

.section {
    text-align: left;
    background-color: #ccffcc;
    padding: 20px;
    border: 1px solid #99ff99;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(255, 102, 153, 0.4);
    flex-shrink: 0;
    height: 470px;
}

div .cases-container {
    background-color:  #ccffcc;
    padding: 20px;
    border: 1px solid #99ff99;
    border-radius: 10px;
    width: auto;
    box-shadow: 0 4px 6px rgba(102, 255, 153, 0.4);
    flex-shrink: 0;
}

.section h2 {
    font-size: 1.8em;
    color: #009933;
    margin-bottom: 10px;
}

.focus-item {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
}

.focus-item .icon {
    font-size: 2em;
    margin-right: 10px;
    color: #00b36b;
}

.focus-item h3 {
    margin: 0;
}

.focus-item a {
    text-decoration: none;
    color: #006633;
    font-weight: bold;
    cursor: pointer;
}

.focus-item a:hover {
    color: #058639;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #90ee90;
    padding: 20px;
    border: 1px solid #99ffcc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(102, 255, 153, 0.4);
    max-width: 400px;
    width: 90%;
    z-index: 1000;
}

.modal:not(:target) {
    display: none;
}

.modal h2 {
    color: #006633;
    margin-bottom: 10px;
}

.modal p {
    color: #004d33;
}

.modal .close-btn {
    background-color: #ffccdd;
    border: none;
    color: #006633;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    display: block;
    margin-top: 10px;
}

#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 900;
    display: none;
}

a:hover {
    color: #0cce4d;
}
a {
    color: #0c812f; 
    text-decoration: none; 
}
fieldset {
    border: 2px solid #17512c;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    margin: 40px auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

legend {
    font-size: 24px;
    color: #006644;
    font-weight: bold;
    padding: 0 10px;
    background-color: #60b07d;
    border-radius: 5px;
}

.cases-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.case {
    justify-content: center;
    background-color:  #90ee90;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.case img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #e6ffe6;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress-bar span {
    display: block;
    height: 100%;
    background-color: #0b480b;
}

.case h3 {
    font-size: 18px;
    color: #006633;
    margin-bottom: 5px;
}

.case p {
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
}


.case:hover {
    background-color: #b3f0b3;
    transform: scale(1.03);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    animation: hover-scale 0.3s ease-in-out forwards;
}

.case a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #018d47;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.case a:hover {
    background-color: #27b86d;
}


@keyframes hover-scale {
    0% {
        transform: scale(1);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    50% {
        transform: scale(1.03);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    100% {
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
}

@keyframes hover-title {
    0% {
        transform: scale(1);
        color: #000;
    }

    50% {
        transform: scale(1.05);
        color: #337d54;
    }

    100% {
        transform: scale(1.1);
        color: #052c1c;
    }
}

h1:hover,
h2:hover {
    animation: hover-title 0.1s ease-in-out forwards;
    cursor: pointer;
}