* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',Arial, sans-serif;
}


.top-bar {
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
    font-size: 14px;
}

.contact-info span {
    margin-right: 20px;
    color: black;
}


.nav-links {
    background-color: rgb(46, 119, 46);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgb(61, 133, 61);
  color: #fff;
  padding: 10px 0;
  min-width: 180px;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.dropdown-content li {
  list-style: none;
  margin: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
  border-bottom: 0.8px solid #333; 
}

.dropdown-content li:last-child {
  border-bottom: none; 
}

.dropdown-content li a {
  color: rgb(37, 37, 37);
  text-decoration: none !important;
  display: block;
}

.dropdown-content li a:hover  {
  transform: scale(1.02); 
}

.dropdown:hover .dropdown-content {
  display: block;
}
.nav-links  {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.make-a-donate {
    background-color: white;
    color: #26a96c;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.make-a-donate:hover {
    background-color: #e5f5e5;
}


.hero {
    position: relative;
    height: 600px;
    background: url();
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .hero .hero-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
  }
  
  .hero-text h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .hero-text h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .hero-text p {
    font-size: 1em;
    margin-top: 10px;
  
}
.quotes-and-video {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch; 
  gap: 20px; 
  margin: 50px 0; 
  padding: 20px;
}




.quotes {
  flex: 1;
  margin: 0;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.quotes .quote-box{
  width: 100%;
  height:100%;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  background-color: lightgreen;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out; 
  text-align: center;
  padding: 20px;
}

.quotes .quote-box:hover {
  background-color: #23b377; 
  border-color: #0077b6; 
  color: white; 
  transform: scale(1.05); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
 
}
.quotes .quote-box p {
  margin: 0 0 10px; 
  line-height: 1.6; 
}


.video-box {
  flex: 1;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-box video {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .quotes-and-video {
    flex-direction: column; 
    gap: 10px;
  }

  .quotes, .video-box {
    flex: none;
    margin: 0;
  }

  .video-box video {
    width: 100%; 
  }
}


.donation-progress {
    text-align: center;
    margin: 30px auto;
    max-width: 800px;
}
.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
}

.progress {
    height: 20px;
    background-color: #4CAF50;
}


.slider {
    position: relative; 
    width: 100%;
    height: 600px; 
    margin: 0 auto; 
    overflow: hidden; 
    background-color: gray; 
}

.slider img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    display: none; 
}

img.displaySlide {
    display: block; 
    animation-name: fade;
    animation-duration: 4s;
}


.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    padding: 10px;
    background-color: #26a96c;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.slider button.previous {
    left: 10px;
}

.slider button.next {
    right: 10px;
}

@keyframes fade {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}
.cta {
    text-align: center;
    margin: 40px;
    padding: 40px 20px;
    background-color: #18d17b;
    color: white;
}

.cta h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.cta p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta .btn,
.cta .btn-secondary {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px;
    display: inline-block;
}

.cta .btn {
    background-color: white;
    color: #18d17b;
}

.cta .btn-secondary {
    background-color: #26a96c;
    color: white;
}

.cta .btn:hover,
.cta .btn-secondary:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.cta .btn-secondary:hover {
    background-color: #1e8754;
}





@media (max-width: 768px) {
    .top-bar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .hero .hero-text {
        text-align: center;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .quotes {
        padding: 30px;
    }
}


footer {
    width: 100%;
    background: linear-gradient(to right, rgb(46, 119, 46), rgb(0, 0, 0));
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    position: relative;
  }

  .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .col {
    flex-basis: 25%;
    padding: 10px;
  }

  .col :nth-child(2) .col:nth-child(3) {
    flex-basis: 15%;
  }

  .logo {
    width: 200px;


  }

  .col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
  }

  .email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;

  }

  ul li {
    list-style: none;
    margin-bottom: 12px;
  }

  ul li a {
    text-decoration: none;
    color: #fff;
  }

  .footer-form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
  }

  .footer-form .far {
    font-size: 18px;
    margin-right: 10px;

  }

  .footer-form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: none;
    outline: none;
  }

  .footer-form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
  }

  .footer-form button .fas {
    font-size: 16px;
    color: #ccc;
  }

  .social-icons .fa-brands {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #ccc;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
  }


