* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.top-bar {
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    font-size: 14px;
}

.contact-info span {
    margin-right: 20px;
}


.nav-links {
    background-color: #26a96c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.nav-links  {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: lightblue;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.make-a-donate {
    background-color: white;
    color: #26a96c;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.make-a-donate:hover {
    background-color: #e5f5e5;
}