* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #111827;
    color: white;
    padding: 20px;
}

.content {
    background-color: #1f2937;
    padding: 30px;
    border-radius: 12px;
    color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    color: #10b981;
}



form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form textarea {
    background-color: #111827;
    color: white;
    border: 1px solid #374151;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 15px;
}

form button {
    background-color: #10b981;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

form button:hover {
    background-color: #0e9f6e;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}

table th,
table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #374151;
}

table th {
    color: #10b981;
}

button.delete-btn {
    background-color: #ef4444;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

button.delete-btn:hover {
    background-color: #dc2626;
}